.search-page-wrapper {
  background-color: var(--primary-bg-cl);
  min-height: 100vh;
  width: 100%;

  .page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .search-image-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      width: 650px;
      margin: 0 auto;
      border-radius: 12px;
      background-color: #0e1a2c;
      min-height: 65px;
      overflow: hidden;
      gap: 0 10px;
      padding: 8px 12px;
      box-shadow: inset 2px 3px 5px #0a121f, 0px 1px 1px #333;

      .upload-input {
        width: 100%;
        max-width: 100%;
        height: auto;
        justify-content: center;
        gap: 0 20px;
        border: 2px dashed rgb(5, 54, 118);
        &:hover {
          border-color: rgb(6, 88, 194);
        }
        .jWkLDY {
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          span {
            color: #bdbaba !important;
          }
        }
      }

      .search-input {
        width: 100%;
        border: none;
        outline: none;
        color: #fff;
        padding-left: 5px;
        background: none;
        height: 40px;
        font-size: 20px;
        font-weight: 400;

        &::placeholder {
          color: rgb(181, 179, 179);
          font-size: 17px;
        }
      }
      .up-search-btn {
        width: 150px;
        height: 55px;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 18px;
        background: #5465ff;
        color: #fff;
        transition: background 0.3s ease-in;
        &:hover {
          background: #2238ff;
        }
      }
    }

    .up-file-name {
      text-align: center;
      margin: 5px 0;
      color: #bdbaba;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    .view-up-image {
      margin: 0 auto;
      width: 200px;
      height: 150px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    h3 {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .search-result-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      p {
        color: #fff;
      }
      .image-box {
        border: 3px solid transparent;
        display: flex;
        align-items: center;
        justify-self: center;
        border-radius: 8px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .selected {
        border: 3px solid #5465ff;
      }
      img {
        width: 140px;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .search-page-wrapper {
    .page-container {
      .search-image-container {
        min-height: 60px;
        width: 100%;
        .up-search-btn {
          width: 100px;
          height: 45px;
          font-size: 15px;
        }

        .upload-input {
          width: 80%;
          max-width: 80%;
          height: auto;
          justify-content: center;
          min-width: 240px;
          gap: 0 20px;
          border: 2px dashed rgb(5, 54, 118);

          &:hover {
            border-color: rgb(6, 88, 194);
          }
          .jWkLDY {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            span {
              color: #bdbaba !important;
            }
          }
        }
      }
    }
  }
}
